@header-height: 50px;
@border: 10px;
@panel-margin-x: 5vw;
@panel-margin-y: 5vh;

.center-y {
    display: flex;
    align-items: center;
}
.center-x {
    display: flex;
    justify-content: center;
}

.app {
    width: 100vw;
    height: 100vh;
    &-head {
        .center-y;
        justify-content: space-between;
        height: @header-height;
        text-align: center;
        line-height: @header-height;
        background: #000;
        color: #fff;
        padding: 0 20px;
        &-text {
            .center-y;
            svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
        &-icon {
            .center-y;
            float: right;
            margin: 0 10px;
            text-decoration: none;
            color: #fff;
            svg {
                width: 1.5rem;
                height: 1.5rem;
                margin: 2px;
            }
        }
    }
    &-panel {
        position: fixed;
        top: @panel-margin-y;
        bottom: @panel-margin-y;
        left: @panel-margin-x;
        right: @panel-margin-x;
        background: #fff;
        border-radius: @border;
        z-index: 101;
        &-mask {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 5vh 5vw;
            background: rgba(0, 0, 0, 0.8);
            z-index: 100;
        }
        &-head {
            position: relative;
            padding: 10px 0;
            border-bottom: 1px solid #eceff1;
            text-align: center;
            &-icon {
                font-weight: bold;
                color: #ccc;
                cursor: pointer;
                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                    margin: 0 0.5rem;
                }
                &-group {
                    display: flex;
                    float: right;
                    margin-right: 10px;
                }
            }
        }
        &-iframe {
            width: 100%;
            height: 100%;
        }
    }
    &-content {
        position: fixed;
        top: @header-height;
        bottom: 0;
        left: 0;
        right: 0;
        background: #eceff1;
        &-item {
            display: inline-block;
            margin: 20px;
            width: 30vw;
            border-radius: @border;
            background: white;
            transition: all 0.5s ease-in-out;

            &:hover {
                box-shadow: 0 0 20px #ccc;
            }

            &-img {
                width: 100%;
                border-radius: @border @border 0 0;
                cursor: pointer;
            }
            &-footer {
                .center-x;
                align-items: center;
                padding: 10px 20px;
                text-align: center;
                svg {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }
}
